# from https://github.com/github/gitignore/blob/master/KiCad.gitignore
# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*~
_autosave-*
*.tmp
*-rescue.lib
*-save.pro
*-save.kicad_pcb

# Footprint cache
fp-info-cache


settings.json
doc_src/build
pcb/manufacturing
benchmarking/csv_data
benchmarking/npy_data
benchmarking/.ipynb_checkpoints
benchmarking/~$results.xlsx
*.dwf3work
pcb/pyControl_DSeries-backups
pcb/pyControl_DSeries.kicad_prl
